@font-face {
    font-family: 'Digital';
    src: url(./fonts/DS-DIGI.TTF) format('woff2');
    src: url(./fonts/DS-DIGIB.TTF) format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    height: 100vh;
    width: 100vw;
    color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: neon 20s linear infinite;
    font-family: Digital;
}

.container {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    margin: auto;
}

.hourContainer {
    display: flex;
    font-family: Digital;
    font-size: 8rem;
    width: 40rem;
}

.hourContainer .hours,
.minutes,
.seconds,
.session {
    width: 10rem;
}

.year {
    margin-top: 1rem;
    font-family: Digital;
    animation: neon 20s linear infinite;
    font-size: 3rem;

}

@keyframes neon {
    from {
        text-shadow:
            0 0 6px rgba(202, 228, 225, 0.92),
            0 0 20px rgba(202, 228, 225, 0.34),
            0 0 12px rgba(30, 132, 242, 0.52),
            0 0 21px rgba(30, 132, 242, 0.92),
            0 0 24px rgba(30, 132, 242, 0.78),
            0 0 44px rgba(30, 132, 242, 0.92);
    }

    to {
        text-shadow:
            0 0 6px rgba(202, 228, 225, 0.98),
            0 0 20px rgba(202, 228, 225, 0.42),
            0 0 12px rgba(30, 132, 242, 0.58),
            0 0 22px rgba(30, 132, 242, 0.84),
            0 0 28px rgba(30, 132, 242, 0.88),
            0 0 60px rgba(30, 132, 242, 1);
    }
}


@media screen and (max-width: 700px) {
    .hourContainer {

        width: 26rem;
    }

    .hourContainer .hours,
    .minutes,
    .seconds,
    .session {
        width: 6.5rem;

        font-size: 5rem;

    }

    .year {
        font-size: 2rem;
        width: 22rem;
    }
}

@media screen and (max-width: 450px) {
    .hourContainer {

        width: 18rem;
    }

    .hourContainer .hours,
    .minutes,
    .seconds,
    .session {
        font-size: 3.5rem;
        width: 4.5rem;
    }

    .year {
        font-size: 1.8rem;
    }
}